<div data-v-637a7fc8="" class="banner">
    <ul data-v-637a7fc8="" class="loop-image">
        <li data-v-637a7fc8="" class=""><a data-v-637a7fc8="" data-seo="" href="/index"><img
                data-v-637a7fc8="" src="http://localhost:8080/img/banner2.png"></a></li>
        <li data-v-637a7fc8="" class="selected"><a data-v-637a7fc8="" data-seo="" href="/help"><img
                data-v-637a7fc8="" src="http://localhost:8080/img/banner3.png"></a></li>
        <li data-v-637a7fc8="" class="selected"><a data-v-637a7fc8="" data-seo="" href="/share/list"><img
                data-v-637a7fc8="" src="http://localhost:8080/img/banner13.png"></a></li>
    </ul>
    <!--<ul data-v-637a7fc8="" class="loop-dot">-->
    <!--<li data-v-637a7fc8="" class=""></li>-->
    <!--<li data-v-637a7fc8="" class=""></li>-->
    <!--<li data-v-637a7fc8="" class="selected"></li>-->
    <!--<li data-v-637a7fc8="" class=""></li>-->
    <!--<li data-v-637a7fc8="" class=""></li>-->
    <!--</ul>-->
</div>