<div data-v-72e5c9fe data-v-a5d53ce8 :class="{'account-main': true,'is-hidden': accountItem}">
    <div data-v-a1f2b3b6 data-v-72e5c9fe class="right-section">
        <h1 data-v-a1f2b3b6 class="title">账号设置</h1>
        <div data-v-a1f2b3b6 class="error">
        </div>
        <div data-v-3c070f80 class="item">
            <div data-v-3c070f80 class="item-detail"><span data-v-3c070f80 class="type">密码:</span> <span
                    data-v-3c070f80 class="value">未设置</span></div>
            <div data-v-3c070f80 class="action"><a data-v-3c070f80 href="/setpwd" class>设置</a></div>
        </div>
        <div data-v-3c070f80 class="item">
            <div data-v-3c070f80 class="item-detail"><span data-v-3c070f80 class="type">手机号:</span> <span
                    data-v-3c070f80 class="value">178****6692</span></div>
            <div data-v-3c070f80 class="action"><a data-v-3c070f80 href="/modifyphone" class>修改</a></div>
        </div>
    </div>
</div>