<div data-v-72e5c9fe data-v-a5d53ce8 :class="{'account-main': true,'is-hidden': userItem}">

    <div data-v-a1f2b3b6 data-v-72e5c9fe class="right-section">
        <h1 data-v-a1f2b3b6 class="title">基本信息</h1>
        <div data-v-a1f2b3b6 class="item">
            <div data-v-a1f2b3b6 class="item-detail">
                <span data-v-a1f2b3b6 class="type">昵称:</span>
										<span data-v-a1f2b3b6 style="display: none;">
											 <input data-v-a1f2b3b6 type="text" placeholder="昵称" maxlength="30" class="input">
											  <button data-v-a1f2b3b6 class="btn-control save">保存</button>
											  <button data-v-a1f2b3b6 class="btn-control cancel">取消</button>
										</span>
                <span data-v-a1f2b3b6 title="" class="value">{{username}}</span></div>
            <div data-v-a1f2b3b6 class="action"><span data-v-a1f2b3b6>修改</span></div>
        </div>
        <div data-v-a1f2b3b6 class="item">
            <div data-v-a1f2b3b6 class="item-detail">
                <span data-v-a1f2b3b6 class="type">邮箱:</span>
										<span data-v-a1f2b3b6 style="display: none;">
											 <input data-v-a1f2b3b6 type="text" placeholder="邮箱" maxlength="30" class="input">
											  <button data-v-a1f2b3b6 class="btn-control save">保存</button>
											  <button data-v-a1f2b3b6 class="btn-control cancel">取消</button>
										</span>
                <span data-v-a1f2b3b6 title="" class="value" >{{email}}</span></div>
            <div data-v-a1f2b3b6 class="action" ><span data-v-a1f2b3b6>修改</span></div>
        </div>
        <div data-v-a1f2b3b6 class="item">
            <div data-v-a1f2b3b6 class="item-detail">
                <span data-v-a1f2b3b6 class="type">手机:</span>
										<span data-v-a1f2b3b6 style="display: none;">
											 <input data-v-a1f2b3b6 type="text" placeholder="手机" maxlength="30" class="input">
											  <button data-v-a1f2b3b6 class="btn-control save">保存</button>
											  <button data-v-a1f2b3b6 class="btn-control cancel">取消</button>
										</span>
                <span data-v-a1f2b3b6 title="" class="value" >{{phone}}</span></div>
            <div data-v-a1f2b3b6 class="action" ><span data-v-a1f2b3b6>修改</span></div>
        </div>
        <div data-v-a1f2b3b6 class="item">
            <div data-v-a1f2b3b6 class="item-detail">
                <span data-v-a1f2b3b6 class="type">积分:</span>
                <span data-v-a1f2b3b6 title="王久一" class="value" >{{integral}}</span></div>
        </div>
    </div>

</div>