<div class="_3KjZQbwk_0">
    <div class="kcMABq6U_0"><span>分类：</span> <a href="javascript:void(0);" class="_2TWCBjxa_0 _2CeglKlV_0">全部</a>
        <a href="javascript:void(0);" @click="handlePostgraduateClick" class="_2TWCBjxa_0">考研</a>
        <a href="javascript:void(0);" @click="handleExaminationClick" class="_2TWCBjxa_0">考试</a>
        <a href="javascript:void(0);" @click="handlePaperClick" class="_2TWCBjxa_0">论文</a>
        <a href="javascript:void(0);"  @click="handleCivilClick" class="_2TWCBjxa_0">考公</a>
        <a href="javascript:void(0);"  @click="handleCETClick" class="_2TWCBjxa_0">四六级</a>
        <a href="javascript:void(0);"  @click="handleOtherClick" class="_2TWCBjxa_0">其他</a>
    </div>
    <div class="kkd89V2i_0"><button @click="handleGoShareCLick" class="_2_KiDaj7_0">我要分享</button></div>
</div>