<div data-v-0ef69fa0 class="recharge-card">
    <div data-v-0ef69fa0 class="login-rect-pc">
        <div data-v-0ef69fa0 class="rect-list-pc">
            <ul data-v-0ef69fa0>
                <li data-v-0ef69fa0>
                    <div data-v-0ef69fa0 class="label">确认账号：</div>
                    <div data-v-0ef69fa0 class="list-content">
                        <div data-v-0ef69fa0 class="user">
                            <span data-v-0ef69fa0>王久一（178****6692）</span>
                            <a data-v-0ef69fa0 href class="change-user">更换手机号</a>
                        </div>
                    </div>
                </li>
                <li data-v-0ef69fa0>
                    <div data-v-0ef69fa0 class="label">请上传文件：</div>
                    <div data-v-0ef69fa0 class="list-content">
                        <div class="file-upload">
                            <form name="form1" action="/manage/product/upload.do" method="post" enctype="multipart/form-data">
                                <div class="file-upload-wrapper">
                                    <div class="file-upload-view">
                                        <a class="update-file-input">
                                            <input @change="handleFileUpload" ref="fileUploadInput" type="file" name=""> <p v-html="fileText"></p>
                                        </a>
                                        <div class="file-upload-name" v-html="fileName"></div>
                                    </div>

                                    <div class="file-upload-sibmit-wrapper">
                                        <input class="file-upload-submit" type="submit" value="上传文件">
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </li>
                <li data-v-0ef69fa0>
                    <div data-v-0ef69fa0 class="label">选择单双页：</div>
                    <div data-v-0ef69fa0 class="list-content">
                        <div data-v-0ef69fa0 class="platforom-radio-pc">
                            <div data-v-0ef69fa0 class="platform-item-pc active">
                                单页
                                <span data-v-0ef69fa0>(打印一面)</span>
                                <span data-v-0ef69fa0 class="corner"><i data-v-0ef69fa0 class="iconfont"></i></span>
                            </div>
                            <div data-v-0ef69fa0 class="platform-item-pc active">
                                双页
                                <span data-v-0ef69fa0>(正反打印)</span>
                                <span data-v-0ef69fa0 class="corner"><i data-v-0ef69fa0 class="iconfont"></i></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-v-0ef69fa0>
                    <div data-v-0ef69fa0 class="label">选择打印参数：</div>
                    <div data-v-0ef69fa0 class="list-content">
                        <div data-v-0ef69fa0 class="platforom-radio-pc">
                            <div data-v-0ef69fa0 class="platform-item-pc active">
                                黑白
                                <!-- <span data-v-0ef69fa0>(打印一面)</span> -->
                                <span data-v-0ef69fa0 class="corner"><i data-v-0ef69fa0 class="iconfont"></i></span>
                            </div>
                            <div data-v-0ef69fa0 class="platform-item-pc active">
                                彩印
                                <!-- <span data-v-0ef69fa0>(正反打印)</span> -->
                                <span data-v-0ef69fa0 class="corner"><i data-v-0ef69fa0 class="iconfont"></i></span>
                            </div>
                        </div>
                    </div>
                </li>

                <li data-v-0ef69fa0 class="flex-start">
                    <div data-v-0ef69fa0 class="label">请选择打印尺寸：</div>
                    <div data-v-0ef69fa0 class="list-content">
                        <div class="file-size-wrapper">
                            <select name="file_size" data-v-0ef69fa0 class="input error">
                                <option value="0">A0</option>
                                <option value="1">A1</option>
                                <option value="2">A2</option>
                                <option value="3">A3</option>
                                <option value="4">A4</option>
                                <option value="5">A5</option>
                                <option value="6">A6</option>
                                <option value="7">A7</option>
                                <option value="8">A8</option>
                                <option value="9">A9</option>
                                <option value="10">A10</option>
                                <option value="11">4A0</option>
                                <option value="12">0A0</option>
                            </select>
                            <span data-v-0ef69fa0 class="file-size-tag">﹀</span>
                        </div>
                        <p data-v-0ef69fa0 class="error-text"><i data-v-0ef69fa0 class="iconfont"></i>
                            请输入充值码
                        </p>
                    </div>
                </li>
                <li data-v-0ef69fa0 class="flex-start">
                    <div data-v-0ef69fa0 class="label">选择打印份数:</div>
                    <div data-v-0ef69fa0 class="list-content"><input data-v-0ef69fa0 type="text" maxlength="10" placeholder="请输入打印份数"
                                                                     class="input error">
                        <p data-v-0ef69fa0 class="error-text"><i data-v-0ef69fa0 class="iconfont"></i>
                            请输入充值码
                        </p>
                    </div>
                </li>
                <li data-v-0ef69fa0 class="flex-start">
                    <div data-v-0ef69fa0 class="label">请输入备注:</div>
                    <div data-v-0ef69fa0 class="list-content">
												<textarea class="description-area" rows="5" cols="55">  备注你想说的话，如：PPT 一面排9张...
												</textarea>
                        <p data-v-0ef69fa0 class="error-text"><i data-v-0ef69fa0 class="iconfont"></i>
                            请输入充值码
                        </p>
                    </div>
                </li>
                <li data-v-0ef69fa0  style="margin-top: 10px;">
                    <div data-v-0ef69fa0  class="label">订单价格：</div>
                    <div data-v-0ef69fa0  class="content">
                        <div class="file-price">
                            ￥500
                        </div>
                        <div data-v-0ef69fa0  class="btn-wrap">
                            <a data-v-0ef69fa0  href="javascript:;" class="not-active">
                                前去支付
                            </a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>