<div class="_1x0pDALM_0">
    <div class="_2qkcjvzY_0 msbQCbDP_0">
        <section class="_25e0Ykz3_0">
            <div class="_1mMpzUVS_0"><img alt class="_1Rk0W5BH_0" src="http://image.qian.com/shop01_mini.png"></div>
            <div class="_2znyOrGn_0">
                <div class="_3owuxYXf_0">济南大学西门打印店</div>

                <div class="_1tO4kEoN_0">位置：</div>
                <div class="_5OMiXi1z_0">
                    济南大学新西门东走500米西门打印店
                </div>
                <div class="_3owuxYXf_0">客服电话：15659565596</div>
                <div class="_3owuxYXf_0">联系邮箱：51515@qq.com</div>
                <div class="_3owuxYXf_0">取货时间：7:00 - 8:00</div>
            </div>
        </section>
        <div class="_1n_--zEK_0">
            <h3>此店评分：<span class="shop_score">4.5 </span>分</h3>
            <div class="xpkXzua__0">
                <div class="H99t5Me3_0"><a class="FtLGVXYZ_0">
                    历史打印
                </a> <a class="FtLGVXYZ_0 JjnwqCg1_0"> 评价此店
                </a> <span href="javascript:;" class="_1BXMXUOx_0">投诉此店，点击此处...</span></div>
            </div>
        </div>
    </div>
</div>